<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <style>
      body {
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        background: linear-gradient(135deg, #d4fc79, #96e6a1);
      }
      section {
        text-align: center;
        padding: 150px;
        margin: 150px;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    </style>
</head>
<body>
<section><h1>Sign Up</h1> 
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p></section>

</body>
</html>
